.table-bg {
  background-color: #ffffff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 0.625rem;

  .header {
    padding: 0 1.25rem;
  }

  .table {
    tr {
      th,
      td {
        white-space: nowrap;
      }

      td {
        font-size: 14px;
      }
    }
  }
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  color: #ffffff;
  border: none;
}

.bg-green {
  background-color: #74b749;
}

.bg-blue {
  background-color: #0daed3;
}

.bg-red {
  background-color: #de577b;
}

.bg-yellow {
  background-color: #ffb400;
}
#layoutSidenav_nav {
  height: unset !important;
  z-index: 1028 !important;
}
#layoutSidenav_content {
  padding-top: 3.125rem;
  padding-right: 20px;
  &::before{
    z-index: unset !important;
  }
}
#layoutSidenav_nav {
  position: fixed;
  top: 3.125rem;
  bottom: 0;
  min-height: calc(100vh - 60px) !important;
}
.dropdown-header {
  padding: 0.625rem;
}
