.profile-wrapper {
  height: 100%;
  background-color: #ffffff;
  color: #111111;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  font-size: 14px;
  font-weight: 500;

  .profile-head {
    min-height: 50px;
    border-bottom: 1px solid #aca9a9;
    font-size: 18px;
    text-transform: uppercase;
  }
  form {
    padding: 0 20px;
  }
}
.profile-header {
  color: #ffffff;
  font-weight: 500;
  font-size: 30px;
  .desp {
    font-size: 14px;
    font-weight: 400;
  }
}
