@import "../../assets/styles/global/_global-dir";

.contact-us {
  .heading {
    font-size: 2.5rem;
    color: #3eadcf;
  }

  .description {
    font-size: 14px;
  }

  .details {
    font-size: 1rem;
    font-family: $bold;
  }
}