.pf-footer {
  color: #111111;
  font-size: 12px;
  background: #ffffff;

  .social-list,
  .copyright {
    list-style: none;

    li {
      margin-left: 15px;
    }
  }

  .copyright {
    li {
      a {
        color: #111111;
      }
    }
  }
}