.grievance-section {

    .grievance-wrapper {
        background-color: #FFFFFF;
        color: #111111;
        border-radius: 0.625rem;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        padding: 0 1.25rem;
        font-size: 12px;
        font-weight: 500;

        .header {
            font-size: 24px;
            font-weight: 500;
        }
    }
}

.attach-block {
    min-height: 40px;
    background-color: rgba(17, 17, 17, 0.05);
    padding: 10px;
    border-radius: 5px;
}