.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



.tracker{
  width:100%;  
  display:flex;
  justify-content:center;
  font-family:"verdana" !important;
  color: #758d96;  
}
.timeline{
    list-style-type:none;
    display:flex;
    align-items:center;
    justify-content:center;

}
.timestamp{
  margin-bottom:20px;
  padding: 0px 0px;
  display:flex;
  flex-direction:column;
  align-items:center;
  color:#4F7B9A;
  font-size:12px !important;
}
.li.complete .status{
  border-top:2px solid #51B05A;  
}
.li.pending .status{
  border-top: 2px solid rgb(255,188,61);
}
.status{
  padding: 0px 40px;
  display: flex;
  justify-content: center;
  border-top: 2px solid #D6DCE0;
  position:relative;
  transition: all 200ms ease-in;
}
.status h5{
  margin-top: 20px !important;
  font-weight: 600 !important;
  color: #4F7B9A !important;
  font-size:14px;
}
.li.complete .status:before{
  background-color: #51B05A;
  border:none;
  transition: all 200ms ease-in;
}
.li.pending .status:before{
  background-color: rgb(255,188,61);
  border:none;
  transition: all 200ms ease-in;
}
.li.date{
  padding-bottom: 15px;
}

.status:before{
  content:"";
  width:25px;
  height:25px;
  background-color:white;
  border-radius:25px;
  border: 1px solid #ddd;
  position:absolute;
  top:-15px;
  left:42%;
  transition: all 200ms ease-in;
}



.card {
  background-color: #ffffff;
  border: 1px solid rgba(0, 34, 51, 0.1);
  box-shadow: 2px 4px 10px 0 rgba(0, 34, 51, 0.05), 2px 4px 10px 0 rgba(0, 34, 51, 0.05);
  border-radius: 0.15rem;
}

/* Tabs Card */

.tab-card {
border:1px solid #eee;
}

.tab-card-header {
background:none;
}
/* Default mode */
.tab-card-header > .nav-tabs {
border: none;
margin: 0px;
}
.tab-card-header > .nav-tabs > li {
margin-right: 2px;
}
.tab-card-header > .nav-tabs > li > a {
border: 0;
border-bottom:2px solid transparent;
margin-right: 0;
color: #737373;
padding: 2px 15px;
}

.tab-card-header > .nav-tabs > li > a.show {
  border-bottom:2px solid #007bff;
  color: #007bff;
}
.tab-card-header > .nav-tabs > li > a:hover {
  color: #007bff;
}

.tab-card-header > .tab-content {
padding-bottom: 0;
}