.online-form {
    padding: 20px;



    .card {

        .card-header {
            padding: 5px;
            background-color: #3ecf8e;
            color: #111111;

            i {
                color: #FFFFFF;
                font-size: 1.875rem;
            }
        }

        .card-body {
            font-size: 0.875rem;
        }
    }


}

.online-header {
    font-size: 40px;
    font-weight: 500;
    color: #3eadcf;
    text-align: center;

    &.desp {
        color: #111111;
    }
}