.table-bg {
  background-color: #ffffff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 0.625rem;

  .header {
    padding: 0 1.25rem;
  }

  .table {
    tr {

      th,
      td {
        white-space: nowrap;
      }

      td {
        font-size: 14px;
      }
    }
  }

}

.dashboard {
  padding: 20px;

  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    color: #Ffffff;
    border: none;
  }

  .bg-green {
    background-color: #74B749;
  }

  .bg-blue {
    background-color: #0DAED3;
  }

  .bg-red {
    background-color: #de577b;
  }

  .bg-yellow {
    background-color: #FFB400;
  }
}